<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Covid19 Chatbot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-robot"></i> Covid19 Chatbot <i class="fas fa-robot"></i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(/static/chatbot.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Bob</div>
            <div class="msg-info-time"></div>
          </div>

          <div class="msg-text">
            Welcome back! I'm here to provide you lots of information related to Covid-19. Just ask anything you want. 😄
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
      <i id="start-btn" class="bi bi-mic microphone-ico"></i>
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>

  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>
    // speech to text part
    var speechRecognition = window.speechRecognition || window.webkitSpeechRecognition;
    var recognition = new speechRecognition();
    var content = '';
    var textbox = $("#textInput");
    recognition.continuous = true;

    recognition.onresult = function(event){
      var current = event.resultIndex;
      var transcript = event.results[current][0].transcript;
      content +=transcript;
      textbox.val(content);
    };
    
    let cnt = 0;
    $("#start-btn").click(function (event){
      if(cnt%2==0) 
      {
        $(".microphone-ico").css('color', 'red');
        if(content.length) {
          content +='';
        }
        recognition.start();
        cnt++;
      }
      else
      {
        $(".microphone-ico").css('color', 'black');
        content = '';
        recognition.stop();
        cnt++;
      }
    });

    textbox.on('input', function(){
      content = $(this).val();
    });

    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) { // get the real time
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();
      return `${h.slice(-2)}:${m.slice(-2)}`;
    }

    const msgerForm = get(".msger-inputarea"); //
    const msgerInput = get(".msger-input");    // get element by class
    const msgerChat = get(".msger-chat");      //

    const BOT_IMG = "../static/chatbot.png";  // chatbot avatar
    const PERSON_IMG = "../static/human.png"; // human avatar
    const BOT_NAME = "Bob";
    const PERSON_NAME = "You";

    function appendMessage(name, img, side, text) { // make the message box
      const msgHTML = // template
      `
      <div class="msg ${side}-msg">
        <div class="msg-img" style="background-image: url(${img})"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">${name}</div>
            <div class="msg-info-time">${formatDate(new Date())}</div>
          </div>

          <div class="msg-text">${text}</div>
        </div>
      </div>
      `;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
      });
    }

    msgerForm.addEventListener("submit", event => { // event each time user enter a message
      event.preventDefault();
      const msgText = msgerInput.value; // the message user enters
      if(!msgText) return;
      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      content = '';
      botResponse(msgText);
    });
  </script>
</body>
</html>
